body {
  background-color: #ddd;
  padding: 0.5em;
  text-align: center;
  font-family: "Helvetica Neueu", "Helvetica", "Arial", sans;
  display: inline-grid;
}

#menu, #results {
  font-size: 1em;
  margin: 1em;
  display: inline-block;
}

#mItem {
  float: left;
  margin-right: 2em;
}

#player {
  display: inline-block;
  background-color: #eee;
  width: 640px;
  height: 480px;
  margin: 0.5em;
}

#imageInput {
  display: none;
  background-color: #eee;
  width: 640px;
  height: 360px;
  margin: 0.5em;
}

button {
  margin: 0.5em;
  width: 200px;
  height: 50px;
  font-size: 1.2em;
  background-color: blue;
  color: white;
}

#upload {
  padding: 0.72em;
  margin: 0.5em;
  width: 200px;
  height: 50px;
  font-size: 1.2em;
  background-color: green;
  color: white;
}

#gallery_image {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 220px;
    height: 240px;
}

#gallery_image:hover {
    border: 1px solid #777;
}

#gallery_image img {
    width: 100%;
    height: auto;
}

.tags_list{
    padding: 15px;
    text-align: center;
    font-size: 0.7em;
    color: #7777ee;
}

.tags_list a, a:visited{
    color: #7777ee;
}

.tags_list a:hover {
    color: #3333aa;
}

#tag_id {
  color: #777; 
}
